header 
{
    background-color: #1f2937;
    color: white;
}

nav{

    text-align: right;
}

button{
    background-color: #3882f6;
    height: 30px;
    width: 80px;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
}

.head1{
    color: #f9faf8;
    font-size: 48px;
    margin-top: 60px;
}

.head2{
    color: #f9faf8;
    font-size: 18px;
}
body {
    margin: 0;
 }
.logo{
    font-size: 24px;
    color: #f9faf8;

}

.subtext{
    font-size: 16px;
    color: #1f2937;
}

.box{ 
background-color: #3882f6;
width: 800px;
height: 100px;
margin-left: auto;
margin-right: auto;
}

.button2{
    text-align: right;
    
}

footer{

    height: 350px;
    background-color: #1f2937;
    text-align: center;
    color: white;
}

.headertxt{

    margin-left: 250px;
}
